@import "../../theme/variables";
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 300px;
  background-color: $darkBlueColor;
  padding: 20px;
  border-radius: 25px;
  box-shadow: $cardShadow;
  row-gap: 15px;
  &__input,
  &__date,
  &__select {
    width: 250px;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 15px;
    border: 5px solid $darkBlueColor;
    transition: all 0.5s;
    &:focus {
      border-color: $lightBlueColor;
    }
  }
  &__date {
    cursor: pointer;
  }
  &__select {
    text-align: center;
    cursor: pointer;
  }
  &__checkbox {
    width: 250px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
    input {
      cursor: pointer;
    }
  }
  &__sex {
    display: flex;
    column-gap: 20px;
    font-size: 1.2rem;
    &-choose-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    input {
      margin-left: 5px;
      cursor: pointer;
    }
  }
  &__file {
    input {
      padding: 5px 0;
    }
    input[type="file"]::file-selector-button {
      margin-right: 20px;
      border: none;
      background: $whiteColor;
      padding: 10px 20px;
      border-radius: 10px;
      cursor: pointer;
      transition: background 0.5s;
    }

    input[type="file"]::file-selector-button:hover {
      background: $lightBlueColor;
    }
  }
}

.invalid {
  color: $redColor;
}
