@import "../../theme/variables";
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  &__input {
    font-size: 1.5rem;
    padding: 10px;
    border: 5px solid $blueColor;
    border-radius: 30px;
    transition: all 0.5s;
    &:focus {
      border-color: $yellowColor;
    }
  }
}
